[mysqld]
basedir=${MYSQL_DIR}/57
datadir=${MYSQL_DIR}/data/57/data
port=3357
socket=/tmp/my57.sock
log-error=${MYSQL_DIR}/data/57/my.error
enforce_gtid_consistency=on
gtid_mode=on
log_bin=on
server_id=57