[mysqld]
datadir=/home/mysql/data/3310
basedir=/usr/local/mysql
port=3310
mysqlx-port=33100
socket=/home/mysql/data/3310/my.socks
mysqlx-socket=/home/mysql/data/3310/myx.socks
log-error=/home/mysql/data/3310/my.error
